#aha-logo{
    width: 50px;
    height: 35px;
    margin-left: 20px;
}
body{
    background-color: rgb(41, 40, 40);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
#Login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Login-container-child{
    width: 552px;
    height: 550px;
    background:#1a1d1e;
    border: 1px solid rgba(88, 88, 88, 0.505);
    box-shadow: 0 4px 4px #00000040;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.fa-angle-left{
    color: white;
    font-size: 25px;
    margin-top: 80px;
    margin-right: 65px;
    margin-left: 30px;
}
#head1{
    font-size: 2.2rem;
    font-weight: bolder;
    line-height: 30px;
    font-family: arial black;
}
.dot{
    height: 8px;
    width: 8px;
    background: linear-gradient(0deg, #b61a09 -86.4%, #ff6d2e);
    display: inline-block;
    border-radius: 50%;
}
.login-details{
    margin-top: 80px;
}
#india-flag{
    width: 30px;
    height: 20px;
    margin-left: 15px;
}
.mobile-number-parent{
    border: 1px solid black;
    width: 90%;
    height: 45px;
    border-radius: 10px;
    background:linear-gradient(139.8deg, hsla(0, 0%, 100%, .2) 10.38%, hsla(0, 0%, 100%, 0) 137.67%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    color: white;
}
#mobile-number{
    width: 50%;
    height: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
}
#proceed-button{
    width: 91%;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #b61a09 -86.4%, #ff6d2e);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid black;
}
.continue-with{
    display: flex;
    align-items: center;
    width: 50%;
}
.continue-with div{
    padding: 5px;
}
.facebook-button{
    width: 100px;
    height: 45px;
    background-color: rgb(26, 25, 25);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.238);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#facebook-logo{
    width: 25px;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    font-size: 12px;
}
#email-logo{
    width: 25px;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    font-size: 12px;
}
#google-logo{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    font-size: 12px;
}
button{
    cursor: pointer;
}
#para1{
    font-size: 0.8rem;
    font-style:normal;
}
.continue-with div button label{
    font-size: 12px;
}