.aha-logo{
    width: 50px;
    height: 38px;
    margin-left: 20px;
}
.menu-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    height: 60px;
    top: 0rem;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.menu-bar div{
    margin: 10px;
}
.menu-bar div a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}
body{
    background-color: rgb(37, 35, 35);
    margin: 0;
}
.fa-magnifying-glass{
    color: white;
    /* margin-left: 180px; */
}
.fa-magnifying-glass{
    color: white;
    width: 0;
}
.search-bar{
    position: relative;
}
.box{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background:linear-gradient(139.8deg, hsla(0, 0%, 100%, .2) 10.38%, hsla(0, 0%, 100%, 0) 137.67%);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, alpha);
}
.box:hover input{
    width: 150px;
    color: white;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.fa-language{
    color: white;
    width: 10px;
    margin-left: 0;
}
#subscribe-button{
    background: linear-gradient(0deg, #b61a09 -86.4%, #ff6d2e);
    padding: 12px 23px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-style: none;
}
.left-head{
    float: right;
}
#sign-in{
    color: white;
    background-color: black;
    border-style: none;
}
#section2{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.imagediv{
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}
.imagediv img{
    width: 100%;
    margin-top: 80px;
    padding: 5px;
}
::-webkit-scrollbar{
    display: none;
}
#new-release-head{
    font-size: 30px;
    margin-left: 5px;
}


section div div{
    padding: 0px;
    transition: transform 0.5s;
}
#section1 div div:hover{
    cursor: pointer;
}
#section2 div div:hover{
    cursor: pointer;
}
#section3 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section4 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section5 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section6 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section7 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section8 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section9 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section10 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section11 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section12 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section13 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section14 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section15 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section16 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section17 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section18 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section19 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section20 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section21 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section22 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section23 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section24 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section25 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section26 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section27 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section28 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section29 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section30 div div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section3{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section3 img{
    height: 250px;
    border-radius: 25px;
}
.new-releases-container{
    display: flex;
    justify-content: flex-start;
    align-items:normal;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.new-releases-container div img{
    padding: 10px;
}
.new-releases-container div label{
     margin-left: 15px;
}

#section4{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section4 img{
    height: 250px;
    border-radius: 25px;
}

#section5{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section5 img{
    height: 250px;
    border-radius: 25px;
}
#section6{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section6 img{
    height: 250px;
    border-radius: 25px;
}
#section7{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section7 img{
    height: 250px;
    border-radius: 25px;
}
#section8{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
    margin-bottom: 30px;
}
#section8 img{
    height: 400px;
    width: 280px;
    border-radius: 25px;
}
#section9{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
    margin-top: 150px;
}
#section9 img{
    height: 350px;
    width: 196px;
    border-radius: 25px;
    margin-top: 0;
}

#section10{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 100px;
    margin-top: 150px;
}
#section10 img{
    height: 120px;
    width: 220px;
    border-radius: 20px;
    margin-left: 0;
    padding: 8px;
}
.upcoming-on-aha{
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    align-items:normal;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.upcoming-on-aha div label{
    margin-left: 15px;
}

#section11{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 100px;
    margin-top: 150px;
}
#section11 img{
    height: 120px;
    width: 220px;
    border-radius: 20px;
    margin-left: 0;
    padding: 8px;
}
#section12{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 200px;
    margin-top: 150px;
}
#section12 img{
    height: 120px;
    width: 220px;
    border-radius: 20px;
    margin-left: 0;
    padding: 8px;
}
#section13{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section13 img{
    height: 250px;
    border-radius: 25px;
}
#section14{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section14 img{
    height: 250px;
    border-radius: 25px;
}
#section15{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section15 img{
    height: 250px;
    border-radius: 25px;
}
#section16{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section16 img{
    height: 250px;
    border-radius: 25px;
}
.global-hits-in-telugu-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#section17{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section17 img{
    height: 250px;
    border-radius: 25px;
    padding: 5px;
}
#section18{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 180px;
}
#section18 img{
    height: 250px;
    border-radius: 25px;
}
#section19{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 200px;
    margin-top: 150px;
}
#section19 img{
    height: 120px;
    width: 220px;
    border-radius: 20px;
    margin-left: 0;
    padding: 8px;
}
#section20{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section20 img{
    height: 250px;
    border-radius: 25px;
}
#section21{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section21 img{
    height: 250px;
    border-radius: 25px;
}
#section22{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 180px;
}
#section22 img{
    height: 250px;
    border-radius: 25px;
}
#section23{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 200px;
    margin-top: 150px;
}
#section23 img{
    height: 120px;
    width: 220px;
    border-radius: 20px;
    margin-left: 0;
    padding: 8px;
}
#section24{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section24 img{
    height: 250px;
    border-radius: 25px;
}
#section25{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section25 img{
    height: 250px;
    border-radius: 25px;
}
#section26{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section26 img{
    height: 250px;
    border-radius: 25px;
}
#section27{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 320px;
}
#section27 img{
    height: 250px;
    border-radius: 25px;
}
#section28{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 180px;
}
#section28 img{
    height: 250px;
    border-radius: 25px;
}
#section29{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 60px;
    margin-top: 150px;
}
#section29 img{
    height: 130px;
    width: 130px;
    border-radius: 90px;
    margin-left: 0;
    padding: 8px;
}
#section30{
    color: white;
    padding: 30px;
    font-weight: bold;
    height: 220px;
    margin-top: 150px;
}
#section30 img{
    height: 120px;
    width: 220px;
    border-radius: 20px;
    margin-left: 0;
    padding: 8px;
}
.aha-logo-2{
    width: 110px;
    height: 50px;
    margin-top: 100px;
}
.footer{
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-container{
    margin-left: 40px;
}
.footer-container img{
    padding: 5px;
}
#instagram-footer{
    width: 30px;
    height: 30px;
}
#facebook-footer{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.footer-para{
    color: white;
}
#google_play_mobile{
    width: 140px;
}
#email{
    color: orange;
}
.footer-container2{
    margin-top: 50px;
    margin-left: 100px;
}
.footer-container2 p{
    color: gray;
    text-decoration: none;
}
.footer-container2 p:hover{
    cursor: pointer;
}
#para1{
    color: white;
    font-size: 1.2rem;
}
.footer-container3{
    margin-top: 20px;
    margin-left: 100px;
}
.footer-container3 p{
    color: gray;
    text-decoration: none;
}
.footer-container3 p:hover{
    cursor: pointer;
}
.footer-container4{
    /* margin-top: 10px; */
    margin-left: 100px;
}
.footer-container4 p{
    color: gray;
    text-decoration: none;
}
.footer-container4 p:hover{
    cursor: pointer;
}
.footer-container5{
    margin-top: 100px;
    margin-left: 100px;
}
.footer-container5 p{
    color: gray;
    text-decoration: none;
}
.footer-container5 p:hover{
    cursor: pointer;
}
.footer2{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}
.footer2 div{
    margin-left: 735px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#quickplay-logo{
    width: 170px;
    
}
